@import url('https://fonts.googleapis.com/css2?family=Asap&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #292C34;
}
header {
  background: white;
  padding: 20px;
}
header > h1 {
  color: red;
  text-align: center;
  font-family: asap, sans-serif;
}
.score-board {
  margin: 20px auto;
  border: 3px solid white;
  width: 200px;
  color: pink;
  font-size: 46px;
  border-radius: 5px;
  padding: 15px 20px;
  text-align: center;
  font-family: asap, sans-serif;
  position: relative;
}
.Badge {
  background: #E2584D;
  color: pink;
  font-size: 14px;
  padding: 2px 10px;
  font-family: asap, sans-serif;
}
#user-label {
  position: absolute;
  top: 30px;
  left: -20px;
}
#computer-label{
  position: absolute;
  top: 30px;
  right: -40px;
}
.result {
  font-size: 100px;
  color: lightblue;
}
.result > p {
  text-align: center;
  font-family: asap, sans-serif;
  font-weight: bold;
}
.Choices {
  margin: 50px 20px;
  text-align: center;
}
.Choice {
  border: 4px solid white;
  display: inline-block;
  border-radius: 50%;
  padding: 10px;
  margin: 0 20px;
  transition: all 0.5s ease;
}
img {
  width: 100px;
  height: 100px;
  border-radius: 50%
}
.Choice:hover {
  cursor: pointer;
  background: pink;
}
#action-message {
  text-align: center;
  color:  white;
  font-family: asap, sans-serif;
  font-weight: bold;
  font-size: 20px;
}
#Ava {
  border-radius: 30%;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: white;
  font-family: asap, sans-serif;
  font-weight: bold;
  font-size: 50px;
  background: pink;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  width: 300px;
  height: 300px;

}
#Anh {
  border-radius: 10%;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: white;
  font-family: asap, sans-serif;
  font-weight: bold;
  font-size: 50px;
  background: pink;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  width: 300px;
  height: 500px;
}
.reset-board {
  transition-delay: 2s;
  margin: 20px auto;
  border: 3px solid white;
  width: 320px;
  color: white;
  font-size: 46px;
  border-radius: 5px;
  padding: 15px 20px;
  text-align: center;
  font-family: asap, sans-serif;
  position: relative;
  transition: all 0.001s ease;
}

.reset-board:active {
  cursor: pointer;
  background: pink;
}
#reset-button {
  transition-delay: 2s;
  padding: 10px;
  margin: 10px;
  text-align: center;
  color: white;
  font-family: asap, sans-serif;
  font-weight: bold;
  font-size: 50px;
  background: #E2584D;

}
.green-glow {
  border: 4px solid #4dcc7d;
  box-shadow: 0 0 10px #31b43a;
}
.red-glow {
  border: 4px solid #fc121b;
  box-shadow: 0 0 10px #d01115;
}
.gray-glow {
  border: 4px solid #464647;
  box-shadow: 0 0 10px #25292b;
}
